BOT_TOKEN=""  # Токен от @BotFather [[1]]
ADMIN_TON_ADDRESS=""  # Адрес админского кошелька
TONAPI_TOKEN=""  # Токен от TonAPI
COMMISSION_PERCENT=0.05 # Комиссия (опционально)
BOT_USERNAME = ""
MNEMONICS= #строкой без кавычек через пробел
REFERAL_COMMISSION=0.2
REFERAL_COMMISSION_VIP=0.4
VIP_IDS=""